@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Serif Pro", serif;
  margin: auto;
  transition: 0.4s;
}

a {
  text-decoration: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1.4rem 4rem 1.4rem;
  gap: 3rem;
}

header .content a {
  color: #000000;
}

header .content li {
  margin-bottom: 1rem;
  font-size: 20px;
}

main .painel {
  position: relative;
}

main .painel img {
  width: 100%;
  height: 200px;
}

main .painel p {
  position: absolute;
  top: 6rem;
  left: 5rem;
  color: #fff;
  font-size: 20px;
}

#quem {
  text-align: center;
  margin-block: 6rem;
}

#quem h4 {
  margin-block: 4rem;
  font-size: 20px;
  font-weight: 600;
}

#quem p {
  font-size: 18px;
  margin-inline: 3rem;
}

.section_img img {
  width: 100%;
  height: auto;
}

#onde {
  text-align: center;
  margin-block: 6rem;
}

#onde h4 {
  margin-block: 4rem;
  font-size: 20px;
  font-weight: 600;
}

#onde p {
  font-size: 18px;
  margin-inline: 2rem;
}

#contato {
  background-color: #d3ae71;
  padding-block: 5rem;
}

#contato .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #fff;
  margin-inline: 2.5rem;
}

#contato .container h4 {
  font-size: 40px;
}

#contato .container p {
  font-size: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: #000000;
  color: #fff;
  width: 100%;
}

footer img {
  margin-bottom: 5rem;
}

.div01 ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: 0.2s;
}

ul li a:hover {
  color: #d3d3d3;
}

footer a {
  color: #fff;
  font-size: 20px;
}

footer .redes-sociais i {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 25px;
}

/* BACK TO TOP */

#bntScrollToTop {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #8e5b5a;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  cursor: pointer;
}

#bntScrollToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media screen and (min-width: 1024px) {
  body {
    overflow: auto;
  }
  .wrapper {
    width: min(112rem, 100%);
  }
  header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  header .content ul {
    display: flex;
    gap: 2rem;
  }

  main .painel img {
    width: 100%;
    height: auto;
  }

  main .painel p {
    font-size: 50px;
    top: 250px;
    left: 350px;
  }

  .section_img .wrapper {
    display: grid;
    grid-template-areas:
      "img01 img01 img02 img2"
      "img01 img01 img04 img4";
  }
  .section_img .wrapper .img01 {
    grid-area: img01;
  }
  .section_img .wrapper .img02 {
    grid-area: img02;
  }
  .section_img .wrapper .img03 {
    grid-area: img03;
  }
  .section_img .wrapper .img04 {
    grid-area: img04;
  }

  #contato .wrapper {
    display: grid;
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: "A B";
  }

  #contato .wrapper img {
    grid-area: A;
  }

  #contato .container {
    grid-area: B;
  }

  footer {
    position: relative;
    padding: 8rem;
  }

  .div01 img {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .div01 ul {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    flex-direction: row;
  }

  .div02 .copyright {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }

  .div02 .redes-sociais {
    position: absolute;
    right: 30px;
  }
}
